.row-slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.row-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px 40px;
}

.row-slider::-webkit-scrollbar {
    display: none;
}

.row-slide-item {
    flex: 0 0 auto;
    width: 300px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-slide-item video {
    height: 100%;
    max-height: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.arrow.left {
    left: 5px;
}

.arrow.right {
    right: 5px;
}

.thumb-media {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    pointer-events: none;
    /* <--- This allows overlay to receive clicks */
}

.video-wrapper {
    position: relative;
    /* <-- key fix */
    width: 100%;
    height: 100%;
}


.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 13px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    pointer-events: auto;
}


.reel-checkbox {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 4px;
}

.reel-checkbox * {
    cursor: pointer;
}


/* .slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3d3d3;
  overflow: hidden;
}

.slide-media {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slider {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2.5rem;
  color: white;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
} */